<!DOCTYPE html>
<html lang="en" class="article-list">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="articles">
        
        <div class="article">
            <h1>Bad things happen in otherwise good place</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea provident ipsa quos pariatur incidunt quisquam minima voluptates natus officia nulla.</p>
        </div>
        <div class="article has-image">
            <h1>Bad things happen in otherwise good place</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea provident ipsa quos pariatur incidunt quisquam minima voluptates natus officia nulla.</p>
            <img class="article-image" src="http://upload.wikimedia.org/wikipedia/commons/c/c7/Puppy_on_Halong_Bay.jpg" alt="">
        </div>

        {{#articles}}
            article
        {{/articles}}

    </div>

    <script src="jquery.js"></script>
    <script src="lazy-load.js"></script>
    <script src="article_list.js"></script>
</body>
</html>